
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

/* .infBasic{

} */

.top{
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 37px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
margin-top: 71px;
margin-bottom: 36px;
display: flex;
justify-content: center;
font-size: 23px;
}

.perguntaI h3{
    margin-left: 17px;
    padding-top: 27px;
    font-size: 20px;
    font-weight: bold;
}

.niveisI h3{
    margin-left: 17px;
    padding-top: 27px;
    font-size: 20px;
    font-weight: bold;
}



.infQuizz{
    width: 42%;
    height: 256px;
    margin: auto;
    background-color: #FFFFFF;
    margin-bottom: 85px;
 
}

input{
width: 94%;
height: 46px;
margin-bottom: 9px;
margin-left: 2.7%;
border: 1px solid #D1D1D1;
border-radius: 5px;

}

input:first-child{
    margin-top: 10px;
}

.buttonInf{
    height: 54px;
    width: 26%;
    background-color: #EC362D;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #FFF5F4;
}

.buttonAcessarQuizz{
    width: 16%;
}

.escondido {
    display: none;
  }

.criaPerguntas, .criaNiveis {
    margin: 50px 0;
}

.perguntaI.pergunta-selecionada {
    height: 870px;
}

.perguntaI.pergunta-selecionada h3, .niveisI.nivel-selecionado h3 {
    margin-bottom: 20px;
}

.perguntaI.pergunta-selecionada > div img, .niveisI.nivel-selecionado > div img {
    display: none;
}

.perguntaI > div, .niveisI > div {
    display: flex;
    justify-content: space-between;
}

.perguntaI, .niveisI {
    height: 74px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.perguntaI h3, .niveisI h3 {
    margin-bottom: 30px;
}

.perguntaI > div img, .niveisI > div img {
    margin-right: 24px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.perguntaI > div img:hover, .niveisI > div img:hover {
    transform: scale(120%);
}

.niveisI.nivel-selecionado {
    height: 450px;
}

.space{
  
    margin-bottom: 30px;
}

#descricaoNivel{
    height: 177px;
}

.miniaturainner{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: bold;
    align-items: center;
    
    height: 74px;
  
    

}
    
/* .pergunta{
    
} */

/* --------------------------- Tela 2 - Jogando Quizz --------------------------------- */
.container-jogando {
    width: 100%;
}

.quizz-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 227px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.quizz-principal h1 {
    font-size: 39px;
    color: #fff;
    font-weight: 400;
}

.perguntas-quizz, .final-quizz {
    width: 759px;
    margin: 0 auto;
}

.container-perguntas, .container-final {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 42px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container-perguntas:last-child {
    margin-bottom: 170px;
}

.titulo-pergunta, .container-respostas, .container-resultado, .titulo-resultado {
    width: 94%;
}

.titulo-pergunta, .titulo-resultado {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #434CA0; */
    margin-top: 28px;
    height: 138px;
}

.titulo-resultado {
    background-color: #EC362D;
}

.titulo-pergunta h3, .titulo-resultado h3 {
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.container-respostas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 35px;
}

.container-respostas img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.card-resposta {
    width: 48%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-resposta p {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    word-wrap: break-word;
}

.opacity {
    opacity: 0.3;
}

.normal {
    opacity: 1;
}

.container-resultado {
    display: flex;
    justify-content: space-between;

    margin: 20px 0;
}

.container-resultado img {
    width: 48%;
    height: 273px;
    object-fit: cover;
}

.texto-resultado {
    width: 48%;
    word-wrap: break-word;
}

.container-resultado p {
    font-size: 19px;
    font-weight: bold;
    color: #484848;
}

.container-final {
    margin-bottom: 57px;
}

.buttons-final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reiniciar-quizz {
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 260px;
    height: 52px;
    margin-bottom: 16px;
    cursor: pointer;
}

.voltar-home {
    background-color: transparent;
    outline: none;
    border: none;
    height: 44px;
    width: 219px;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 85px;
    cursor: pointer;
}

.imagiQuizzCriado img{
    
    width: 35%;
}

.imagiQuizzCriado{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 45px;
    
  
}

#legendaimagiQuizzCriado{
    position: absolute;
    bottom: 10px;
    font-size: 23px;
    color: #FFFFFF;
   
}

#voltaHome{
    margin-top: 9px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #818181;
}


.reiniciar-quizz:hover, .voltar-home:hover {
    filter: brightness(95%);
}

/* --------------------------- Tela 1 - Tela de Quizzes --------------------------------- */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzes {
    width: 1051px;
}

.sem-quizzes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 181px;
    width: 100%;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 77px 0;
}

.sem-quizzes h3 {
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.sem-quizzes button {
    border-radius: 50px;
    outline: none;
    border: 1px dashed #EC362D;
    width: 151px;
    height: 40px;
    color: #EC362D;
    background-color: transparent;
    font-size: 21px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.sem-quizzes button:hover {
    color: #FAFAFA;
    background-color: #EC362D;
}

.com-quizzes {
    margin-top: 69px;
    margin-bottom: 48px;
}

.com-quizzes > div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.com-quizzes > div:last-child {
    overflow-x: scroll;
}

.com-quizzes > div::-webkit-scrollbar {
    height: 5px;
} 
  
.com-quizzes > div::-webkit-scrollbar-thumb {   
    background-color: #b5b5b5;   
}

.com-quizzes h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-right: 17px;
}

.com-quizzes ion-icon {
    font-size: 31px;
    color: #EC362D;
    cursor: pointer;
}

.com-quizzes .card-quizz {
    margin-left: 0;
    margin-right: 16px;
    margin-top: 0;
}

.todos-quizzes h1 {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.todos-quizzes {
    width: 1075px;
}

.todos-quizzes > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.todos-quizzes > div::-webkit-scrollbar {
    width: 5px;
} 
  
.todos-quizzes > div::-webkit-scrollbar-thumb {   
    background-color: #b5b5b5;   
}

.card-quizz {
    display: flex;
    align-items: flex-end;

    min-width: 340px;
    max-width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), 
    url('https://lumiere-a.akamaihd.net/v1/images/original_1628718691_los-simpson---star_-_3_e73a2761.jpeg?region=0,379,1300,732');
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
    margin-right: 8px;
    margin-left: 8px;
}

.todos-quizzes .card-quizz:nth-child(1), 
.todos-quizzes .card-quizz:nth-child(2), 
.todos-quizzes .card-quizz:nth-child(3) {
    margin-top: 0;
}

.card-quizz h3 {
    margin: 0 18px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 300;
    color: #fff;
}

.escondido {
    display: none;
}





/*  --------------Responsivo---------------  */

	


@media (max-width: 1100px) {
    /* Tela 1 */
    .quizzes, .todos-quizzes {
        width: 90%;
    }

    .todos-quizzes > div {
        height: auto;
    }

    .card-quizz {
        min-width: 100%;
        margin-bottom: 14px;
    }

    .sem-quizzes {
        margin: 31px 0;
    }

    .com-quizzes {
        margin: 38px 0;
    }

    .com-quizzes > div:last-child {
        flex-direction: column;
    }

    .com-quizzes .card-quizz {
        margin-right: 0;
    }

    /* Tela 2 */
    .perguntas-quizz, .final-quizz {
        width: 100%;
    }

    .titulo-pergunta {
        height: 89px;
    }

    .quizz-principal {
        height: 142px;
    }

    .quizz-principal h1 {
        font-size: 19px;
    }

    .container-respostas img {
        height: 80%;
    }

    .container-respostas {
        margin-bottom: 23px;
    }

    .titulo-pergunta h3, .titulo-resultado h3 {
        font-size: 19px;
    }

    .card-resposta p {
        font-size: 1rem;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .container-resultado p {
        font-size: 1rem;
    }

    .container-resultado {
        flex-direction: column;
    }

    .container-resultado img, .texto-resultado {
        width: 100%;
    }

    .texto-resultado {
        margin-top: 15px;
    }


    h2{
        margin-top: 37px;
        margin-bottom: 29px;
        font-weight: bold;
       
    }

    .infQuizz{
        width: 100%;
        margin-bottom: 29px;
     
    }

    .buttonInf{
   
        width: 86%;
	}

    .buttonAcessarQuizz{
        width: 59%;
    }

    .criar{
        width: 100%;
        margin-bottom: 29px;
     }

     .imagiQuizzCriado img{
    
        width: 91%;
      }
}

@media (max-width: 375px) {
    .card-quizz {
        background-size: 150%;
    }
}